@model IEnumerable<TastTest.Models.Team>

@{
    ViewBag.Title = "ListTeam";
}

<h2>Список мероприятий</h2>

<p>
    @Html.ActionLink("Создать новое", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Times)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Times)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Create", new { id = item.Id }) |
                @Html.ActionLink("Детально", "TeamDetails", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
